h1 {
  margin: 160px 0 0 270px;
  text-align: left;
}

.reviewArea {
  width: 1200px;
  margin: auto;
  margin-top: 50px;
  padding: 30px;
  border-radius: 10px;
  border: solid 1px #f5e0db;
  background-color: #fff;
}

/* Style for table */
table {
  /* border-collapse: "collapse"; */
  /* width: "1000px"; */
  border: solid 1px #f5e0db;
  /* padding: -1px; */
}
th {
  background-color: #f5e0db;
  padding: 10px;
  /* width: 220px; */
  margin: 0;
}

td {
  padding: 10px;
  border: solid 1px #f5e0db;
}

tr {
  border: solid 1px gray;
}
