/** 
 * Following code has been commented with appropriate comments for your reference.
 * Styling for the Header Navbar
 */

/* Styling for the main navigation bar */
nav {
  /* padding-top: 1rem; */
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-bottom: 1rem;
  position: fixed;
  top: 0%;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  color: #222222;
}

/* Styling for the dropdown menu */
.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1;
  display: none;
  min-width: 120px;
  padding: 8px 0;
  background-color: #fff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
}

/* Styling for the user welcome message */
.welcome-user {
  position: relative;
  cursor: pointer;
}

/* Display dropdown menu on hover */
.welcome-user:hover .dropdown-menu {
  display: block;
}

/* Styling for the items in the dropdown menu */
.dropdown-menu li {
  display: block;
  width: 150px;
  padding: 5px;
}

/* Styling for links in the dropdown menu */
.dropdown-menu li a {
  color: #333;
  text-decoration: none;
  transition: color 0.3s ease;
}

/* Hover effect for links in the dropdown menu */
.dropdown-menu li a:hover {
  color: #2190ff;
}

/* Styling for the logo in the navbar */
.nav__logo {
  cursor: pointer;
  width: 150px;
  height: 150x;
  /* margin: 0 358.3px 0 0; */
}

/* Enter icon in the navbar */
.login_icon {
  cursor: pointer;
  width: 20px;
  height: 20x;
  font-weight: bold;
}

/* Styling for the navigation links */
.nav__links {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 1.5rem;
  font-weight: 500;
  color: #222222;
}

/* Styling for individual links in the navigation */
.link a {
  padding: 0 1rem;
  font-size: 1.3rem;
  color: #222222;
  transition: 0.3s;
  text-decoration: none;
}

/* Hover effect for individual links in the navigation */
.link a:hover {
  color: #ff851b;
}

/* Media queries larger than mobile responsiveness */
@media (min-width: 769px) {
  .nav__icon {
    /* do not show teh hamburger icon on larger than mobile screen */
    display: none;
  }
}

/* Media queries for mobile responsiveness */
@media (max-width: 768px) {
  .nav__logo {
    margin-right: auto;
    /* margin-left: 1rem; */
  }

  .nav__icon {
    display: block;
    /* margin-right: 5rem; */

  }

  .nav__links {
    display: none;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;
  }

  .nav__links.active {
    display: flex;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    margin: auto;
    background-color: #fff;
    flex-direction: column;
    align-items: center;
    padding: 1rem 0;
    border-radius: 0.5rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 999;
    animation: slideDown 0.5s ease-in-out; /* Animation effect */
  }
}

/* Keyframes for slide down animation */
@keyframes slideDown {
  0% {
    transform: translateY(-10px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

/* Button styles */
.btn1 {
  /* border: 2px solid #ff851b; */
  margin-top: 0;
  border: none;
  background-color: white;
  color: #222222;
  /* border-radius: 50px; */
  font-size: 1.3rem;
  font-weight: 500;
}

.btn1:hover {
  /* background-color: #ff851b; Hover effect */
  color: #ff851b;
}

.btn2 {
  /* border: 2px solid #ff851b; */
  border: none;
  background-color: white;
  color: #222222;
  /* border-radius: 50px;
  height: 30px; */
  font-size: 1.3rem;
  display: flex; /* Align items and justify content */
  align-items: center; /* Align items and justify content */
  justify-content: center; /* Align items and justify content */
  /* margin-top: 3px; Margin from top */
}

.btn2:hover {
  background-color: #ff851b; /* Hover effect */
  color: white; /* Hover effect */
}
