body {
  color: #3d3c3c;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Styles for buttons */
.btn {
  padding: 10px 20px; /* Set padding for buttons */
  font-size: 16px; /* Set font size for buttons */
  border: none; /* Remove button borders */
  border-radius: 4px; /* Add border radius for rounded corners */
  cursor: pointer; /* Change cursor to pointer on hover */
}
/* Styles for primary button */
.btn-primary {
  background-color: #ff851b; /* Set background color for primary button */
  color: #fff; /* Set text color for primary button */
}
.btn-primary:hover {
  background-color: #fc9c48;
  color: black;
}

/* Styles for danger button*/
.btn-danger {
  background-color: white; /* Set background color for danger button */
  color: #ff851b; /* Set text color for danger button */
  border: solid;
  border-color: #ff851b;
}
.btn-danger:hover {
  background-color: #c0bebe;
  color: black;
}
